<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body class="welcome">
{{context}}
    <h1 class="welcome">Welcome {{username}}! You are now logged in to a top secret website!</h1>
<form class="" action="/logout" method="get">
    <button type="submit" name="logout" value="">Logout</button>
  </form>
  </body>
</html>
