<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Logged out</title>
  </head>
  <body>
  <h3>Please click the button below if you would like to log back in.</h3>


  <form class="login" action="/login" method="post">
    <input type="button" name="login" value="Login">
  </form>
  </body>
</html>
